<h2><%= title "Publicar Artefacto" %></h2>
<%= @name %>
<%= @description %>
<% form_for @artifact, :html => {:multipart => true} do |f| -%>
	<%= f.error_messages %>
	
	<%= f.label :name, 'Nombre' %>
	<%= f.text_field :name %>
	
	<%= f.label :format, 'Formato' %>
	
	<% if @artifact.mime %>
		<%= @artifact.mime %>		
	<% else %>
		<%= f.select :format, %w(pdf txt xls html) %>
	<% end %>
	
	<%= f.label :description, 'Descripción' %>
	<%= f.text_area :description %>
	
	<%= f.label :tag_list, 'Tags' %>
	<%= f.text_field :tag_list %> separados por commas (,)
	
	<br />
	<%= f.submit 'Publicar' %>
<% end -%>
