<h2><%= title "Publicar Artefacto" %></h2>
<%= @name %>
<%= @description %>
<% form_for @artifact, :html => {:multipart => true} do |f| -%>
	<%= f.error_messages %>
	
	<div id="formfield">
		<%= f.label :name, 'Nombre' %>
		<%= f.text_field :name, :class => "field", :value => (@artifact.mime ? @artifact.file.file.filename : @artifact.name) %>
	</div>
		
	<div id="formfield">	
		<%= f.label :format, 'Formato' %>
		<% if @artifact.mime %>
			<%= @artifact.mime %>		
		<% else %>
			<%= f.select :format, %w(html txt xls pdf), :class => "field"  %>
		<% end %>
	</div>

	<div id="formfield">
		<%= f.label :description, 'Descripción' %>
		<%= f.text_area :description , :class => "field" %>
	</div>
	
	<div id="formfield">
		<%= f.label :tag_list, 'Tags' %>
		<%= f.text_field :tag_list %> separados por commas (,)
	</div>
	
	<br />
	<%= f.submit 'Publicar' %>
<% end -%>
