<h2><%= title "Publicar Artefacto" %></h2>

<script>
$(document).ready(function(){
	
});
</script>

<% form_for @artifact, :html => {:multipart => true} do |f| -%>
	<%= f.error_messages %>

	<div id="formfield">
		<%= f.label :url, 'Direcci&oacute;n de acceso' %>
		<%= f.text_field :url, :value => 'http://', :class => "field" %>
	</div>

	<div id="formfield">
		<%= f.label :file, 'Archivo'  %>
		<%= f.file_field :file , :class => "field"  %>
	</div>
	
	<br /><br />
	<%= f.submit 'Siguiente' %>
<% end -%>

<%= @test %>
