<h2><%= title "Publicar Artefacto" %></h2>

<% form_for @artifact do |f| -%>
	<%= f.label :url, 'Direcci&oacute;n de acceso' %>
	<%= f.text_field :url %>
	
	<%= f.label :name, 'Nombre' %>
	<%= f.text_field :name %>
	
	<%= f.label :format, 'Formato' %>
	<%= f.select :format, %w(pdf txt xls html) %>
	
	<%= f.label :description, 'Descripción' %>
	<%= f.text_area :description %>
	
	<br />
	<%= f.submit 'Publicar' %>
<% end -%>
