<a href="<%= download_artifact_path(@artifact) %>"><img src="/images/download-button.jpg" border="0" class="download-button"/></a>
<h2><%=@artifact.name%></h2>

<table class="artifact">
	<tr>
		<td class="label">Formato</td>
		<td><img alt="xls" src="/images/xls.png" width="25px" align="middle" /> <%=@artifact.format%></td>
	</tr>
	<tr>
		<td class="label">Ranking</td>
		<td><span class="star"></span><span class="star"></span><span class="star"></span></td>
	</tr>
	<tr>
		<td class="label">Fecha publicaci&oacute;n</td>
		<td><%=@artifact.created_at.strftime("%B %d, %Y ")%></td>
	</tr>
	<tr>
		<td class="label">&Uacute;ltima modificaci&oacute;n</td>
		<td><%=time_ago_in_words(@artifact.updated_at)%></td>
	</tr>
	<tr>
		<td class="label">Descripci&oacute;n</td>
		<td><%=@artifact.description%></td>
	</tr>
	<tr>
		<td class="label">Artefactos relacionados</td>
		<td>
			<ul>
				<li>DAP</li>
				<li>Array de comunas en JavaScript para validacion</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="label">Tags</td>
		<td>
			<span class="tag">Santiago</span>
			<span class="tag">Comunas</span>
			<span class="tag">Township</span>
			<span class="tag">La Florida</span>
			<span class="tag">Chile</span>
			<span class="tag">Datos administrativos</span>
		</td>
	</tr>
</table>


<table class="viene-va">
	<tr>
		<td class="label"> << &nbsp;&nbsp; Viene de</td>
		<td class="label"></td>
		<td class="label">Va hacia &nbsp;&nbsp;>></td>
	</tr>
	<tr>
		<td>
			<ul>
				<li>Link del gobierno con el listado</li>
				<li>Link de wikipedia</li>
			</ul>
		</td>
		<td align="center">Listado de comunas</td>
		<td>
			<ul>
				<li>DAP</li>
				<li>Array de comunas en JavaScript para validacion</li>
			</ul>
		</td>
	</tr>
</table>

<h2>Comentarios</h2>
<div id="lastrequests">
	<div class="request">
		<h4>busco base de datos de comunas</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in odio odio. Sed eu lorem massa. Proin malesuada justo eget mauris tempus egestas. Integer pulvinar dapib aliquam eros venenatis. Fusce placerat accumsan lorem, et sagittis nunc convallis at. In hac habitasse platea dictumst. Integer risus velit, iaculis sit amet volutpat ut, malesuada vel sapien.</p>
	</div>
	
	<div class="request">
		<h4>busco base de datos de comunas</h4>
		<p>Quis pulvinar mi ultriccerat accumsan lorem, et sagittis nunc convallis at. In hac habitasse platea dictumst. Integer risus velit, iaculis sit amet volutpat ut, malesuada vel sapien.</p>
	</div>
	<div class="request">
	<h4>busco base de datos de comunas</h4>
	<p> Nullam aliquet, leo et convce placerat accumsan lorem, et sagittis nunc convallis at. In hac habitasse platea dictumst. Integer risus velit, iaculis sit amet volutpat ut, malesuada vel sapien.</p>
	<h4>busco base de datos de comunas</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in odio odio. Sed eu lorem massa. Proin malesuada justo eget mauris tempus egestas.Integer risus velit, iaculis sit amet volutpat ut, malesuada vel sapien.</p>
	</div>
</div>

