<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= @content_for_title || 'Untitled' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script src="http://visapi-gadgets.googlecode.com/svn/trunk/termcloud/tc.js" type="text/javascript"></script>
  <%= yield :head %>
</head>
<body>
<div id="wrap">
	<div id="header"><img src="/images/logo.png" align="middle"/></div>
        <div id="user">
          <% if logged_in? %>
          <%= current_user.full_name %>
          <% else %>
            <%= fb_login_and_redirect('/people/login')%>
          <% end %>
        </div>
	<div id="menu">
		<ul class="toolbar">
			<li><a href="/artifacts/">Buscar informaci&oacute;n</a></li>
			<li><a href="/artifacts/new">Compartir informaci&oacute;n</a></li>
			<li><a href="/artifacts/request">Solicitar informaci&oacute;n</a></li>
		</ul>
	</div>
	
	<div id="content">
		<% flash.each do |type, message| %>
			<div id="flash_<%= type %>"><%= message %></div>
		<% end %>
		<%= yield %>
	</div>
	<div id="footer">
	&copy; Data TUBE, Avenida Blanco Encalada 2120, Tercer Piso, <br/>Santiago, Chile
C.P. 837-0459
	</div>
</div>
</body>
</html>

<%= fb_connect_javascript_tag( :lang => 'es-CL' ) %>
<%= init_fb_connect('XFBML', :js => :jquery) %>
